@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.progress-bar-exterior {
    height: 1.7rem;
    width: 17rem;
    background-color: grey;
    border-radius: 0.25rem;
    border: 2px solid grey;
}
body {
    font-family: 'Roboto Mono', monospace;
}
.loading-image img {
    height: 25px;
    position: relative;
    top:15px;
    left: 5px;
    
}

.outer-rim {
    border: 1px solid grey;
    border-radius: 0.25rem;
    padding: 0px 10px 10px 10px;
    display: inline-block;
    

}

.percentage-and-logo {
    display: flex;
}



.inner-progress-bar {
    height: 1.7rem;
    width: 2rem;
    background: linear-gradient(rgb(57, 201, 28), green);
    border-radius: 0.25rem 0 0 0.25rem;
    animation-name: Loading;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes Loading {
    from {
        width: 2rem;
    }

    to {
        width: 17rem;
    }
}

.flex-this-to-bar-width {
    display: flex;
    justify-content: space-between;
    width: 17rem;


}